.portrait {
    float: left;  
    margin-right: 30px;
}

.portrait img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 200px;
}

.contact {
  text-align: left;
  float: left;
}

#contacts {
    position:relative;
    overflow: auto;
    margin-bottom: 20px;
  }