.paper-abstract {
    display:none
}
.paper-bibtex {
    display:none
}
.paper-container {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paper-desc {
    width:70%;
}

.paper-image {
    width: 30%;
    overflow: hidden;
    padding: 10px;
    margin-top:10px;
    display: block;
}

.paper-image img {
    width: 200px;
    overflow:hidden
}

pre, code {
    background-color: transparent;
}

@media (max-width: 500px) {
    .paper-container {
        display: block;
    }
    .paper-desc {
        width:100%;
    }
}